.wrapper {
  position: relative;
  width: 100%;
<<<<<<< HEAD
  overflow: visible;
  z-index: 10;
=======
  overflow: hidden;
>>>>>>> 51521c15 (feat: enhance layout and styling across the application)
}


.strip {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max-content;
  height: 100%;
  animation: marquee-left 100s linear infinite;
}

.ticket {
  flex-shrink: 0;
}
.ticketImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes marquee-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
